.top__header__content {
  display: grid;
  grid-template-columns: 0.7fr 5fr 2fr;
  padding: 10px 20px;
  width: 100%;
  box-shadow: 0px 0px 8px 0px #33333333;
  font-family: Poppins, sans-serif;
  .menu {
    padding: 4px;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    font-size: 30px;
    cursor: pointer;
  }
  ul {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 40px;
    list-style: none;
    li {
      a {
        font-size: 14px;
        font-weight: 600;
        line-height: 21px;
        letter-spacing: 0.47999998927116394px;
        text-align: left;
        color: #000;
        text-decoration: none;
      }
      select {
        border: none;
        cursor: pointer;
        font-size: 14px;
        font-weight: 600;
        line-height: 21px;
        letter-spacing: 0.47999998927116394px;
        text-align: left;
        color: #000;
        text-decoration: none;
        option {
          font-size: 14px;
          font-weight: 600;
          line-height: 21px;
          letter-spacing: 0.47999998927116394px;
          text-align: left;
          color: #000;
          text-decoration: none;
        }
      }
    }
  }
  .tel {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
    span {
      font-size: 15px;
      font-weight: 400;
      line-height: 22.5px;
      letter-spacing: 0.47999998927116394px;
      text-align: left;
    }
  }
  @media (max-width: 960px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .links {
      width: 100%;
      position: absolute;
      top: 50px;
      flex-direction: column;
      background: #fff;
      transform-origin: top;
      transform: scaleY(0);
      left: 0;
      right: 0;
      transition: 0.3s;
      gap: 20px;
      padding: 30px;
      z-index: 10;
    }
    .navbar {
      transform: scaleY(1);
    }
  }
}
